.next/
.swc/
.vercel/
components/
node_modules/
pages/
styles/
.idea/
.prettierignore
*-lock.yaml
*-lock.json
vite*
tsconfig.json
index.html
.env*
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
